<!DOCTYPE html>
<html>
<head>
    <title><%= data.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body class='info'>
        <h2><%= data.name %></h2>
            <img class='image' src= <%= data.picture %>>
            <div class='span'>Age:</div><div><%= data.age %></div></br>
            <div class='span'>Email:</div><div class=''><%= data.email%></div>
            <div class='span'>Informatiom:</div><div class='about'><%= data.about %> <div></br>
            <a class='back' href='/'><img class='image' src='/images/backbutton.png'><a>
    </body>
</html>
